body, html{
    height: 100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666666;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #282e34;
}

.fixed-nav-bar a{
    text-transform: uppercase;
    color: #dddddd;
    font-size: 25px;
    padding: 20px;
    letter-spacing: 4px;
}

.bg1, .bg2, .bg3, .bg4, .bgkomen{
    position: relative;
    opacity: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.bg1{
    background-image: url('../img/thumbs/4.png');
    min-height: 100%;
}

.bgkomen{
    background-image: url('../img/thumbs/2.jpg');
    min-height: 100%;
}

.bg1 a{
    color: #dddddd;
}

.bagian-terang img{
    object-fit: cover;
    object-position: 20%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.bg2{
    background-image: url('../img/thumbs/12c.png');
    min-height: 400px;
    background-position-y: -100px;
}

.bg3{
    background-image: url('../img/thumbs/3.jpg');
    min-height: 400px;
    background-position-y: -100px;
}

.bg4{
    background-image: url('../img/thumbs/haas.png');
    min-height: 400px;
    background-position-y: -100px;
}

.teks{
    text-align: center;
    padding: 50px 80px;
}

.komen{
    text-align: left;
    padding: 50px 80px;
}

.bagian-terang{
    background-color: azure;
    color: #666666;
    text-align: center;
}

.bagian-terang ul{
    list-style-type: none;
}

.bagian-gelep{
    background-color: #282e34;
    color: #dddddd;
}

.teksfoto{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 40px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.teksfoto .border{
    background-color: #111111;
    color: white;
    padding: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.teksfoto .transp{
    background-color: transparent;
}

::-webkit-scrollbar{
    display: none;
}